body {
  background:#0f1b26;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:sans-serif;
}

.login-box {
  background:#1c2733;
  padding:30px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

input {
  width:100%;
  padding:10px;
  margin:10px 0;
}

button {
  width:100%;
  padding:10px;
  background:#00a884;
  border:none;
}
